# Python virtual environments
.venv/
venv/
ENV/

# Local environment variables containing secret keys
.env

# Python cache and compiled files
__pycache__/
*.pyc

# Data files we don't want bloating our repository
*.csv
*.json

# Windows system junk
Thumbs.db
Desktop.ini

# Unwanted folders
node_modules/

# dbt internal operational folders (anywhere in the project)
**/target/
**/logs/
**/dbt_packages/
**/modules/

# Local dbt credentials
**/profiles.yml

# Unwanted db files
*.duckdb